<div class="dash">
  <div class="title">TABLEAU DE BORD</div>
  <div class="cards">
    <div class="card_rnsOne w-72 h-44 mb-5  ">
      <div class="content">
        <div class="image mt-5"><img alt="" src="/assets/admin/note.svg"></div>
        <div class="num mt-5">20</div>
      </div>
      <div class="bas_titleOne"><p>Exports</p></div>
    </div>
    <div class="card_rnsTwo w-72 h-44 mb-5 ">
      <div class="content">
        <div class="image mt-5"><img alt="" src="/assets/admin/store.svg"></div>
        <div class="num mt-5">10 000 F</div>
      </div>
      <div class="bas_titleTwo"><p>Dépenses</p></div>
    </div>
    <div class="card_rnsThre w-72 h-44 mb-5 ">
      <div class="content">
        <div class="image mt-5"><img alt="" src="/assets/admin/user.svg"></div>
        <div class="num mt-5">20</div>
      </div>
      <div class="bas_titleThre"><p>Utilisateurs</p></div>
    </div>
    <div class="card_rnsFor w-72 h-44 mb-5 ">
      <div class="content">
        <div class="image mt-5"><img alt="" src="/assets/admin/store.svg"></div>
        <div class="num mt-5">20</div>
      </div>
      <div class="bas_titleFor"><p>Notes de frais</p></div>
    </div>
  </div>

  <div class="details">
    <div class="noteFrais">
      <div class="headCard"><p class="note"><span class="red">O</span> Note de frais en cours <i nz-icon nzTheme="outline"                                                     nzType="caret-down"></i>
      </p></div>
      <div class="contentFrais">
        <div class=""><img alt="" src="/assets/admin/window.svg"></div>
        <div class="des">
          <p>Aucune note de frais n’est en cours de saisie.</p> <br>
          <p>Après avoir créé une note, vous pourrez lui rajouter une ou plusieurs dépenses.</p>
        </div>
      </div>
      <div class="bottomCard mb-5">
        <p><i nz-icon nzTheme="outline" nzType="unordered-list"></i> MES NOTES DE FRAIS </p>
        <p><i nz-icon nzTheme="outline" nzType="plus"></i> NOUVELLE NOTE DE FRAIS</p>
      </div>
    </div>
    <div class="CatDepense">
      <div class="headCard" style="display: flex; justify-content: space-between;">
        <p class="note">Répartition par catégorie dépenses <i nz-icon nzTheme="outline" nzType="caret-down"></i></p>
        <p class="noteDep"> Cette année <i nz-icon nzTheme="outline" nzType="caret-down"></i></p>
      </div>
      <div class="contentFrais">
        <div class=""><img alt="" src="/assets/admin/repartDepense.svg"></div>
        <div class="desc">
          <p class="">Aucune donnée à afficher pour la période.</p> <br>

        </div>
      </div>
    </div>
  </div>
  <div class="PeriodeDep">
    <div class="headDep">
      <p class="note">Dépenses par période <i nz-icon nzTheme="outline" nzType="caret-down"></i></p>
      <p class="noteDep"> Cette année <i nz-icon nzTheme="outline" nzType="caret-down"></i></p>
    </div>
    <div class="contentDep">
      <div class=""><img alt="" src="/assets/admin/depenses.svg"></div>
      <div class="desc">
        <p class="">Aucune donnée à afficher pour la période.</p> <br>

      </div>
    </div>
  </div>
</div>
