<div class="container p-4 flex flex-col gap-2">
  <div class="content">
    <h1 class="titre">Choisir le type de compte</h1>

    <div class="flex gap-2">
      <div
        class="custom_card p-4 rounded-md flex items-center justify-center shadow-sm cursor-pointer"
        [class.active]="selectedId === 1"
        (click)="selectType(1)"
      >
        <p class="text-center">
          Employé : Vous êtes seul à faire des notes de frais
        </p>
      </div>
      <div
        class="custom_card p-4 rounded-md flex items-center justify-center shadow-sm cursor-pointer"
        [class.active]="selectedId === 2"
        (click)="selectType(2)"
      >
        <p class="text-center">
          Entreprise : Vous êtes plusieurs à faire des notes de frais
        </p>
      </div>
    </div>
  </div>
  <div
    class="link flex items-center justify-end p-3 w-auto gap-1 cursor-pointer"
  >
    <span>suivant</span>
    <button class="colorSupp" nz-button nzShape="circle" nzType="primary">
      <i nz-icon nzType="arrow-right"></i>
    </button>
  </div>
</div>
