<div [ngClass]="position" class="avis_item flex flex-col sm:flex-row">
  <div class="w-4/12 sm:w-4/12 px-4">
    <img
      alt="..."
      class="shadow rounded-full  h-auto align-middle border-none"
      src="https://www.creative-tim.com/learning-lab/tailwind-starter-kit/img/team-2-800x800.jpg"
    />
  </div>
  <div class="more_data w-full">
    <div class="name text-red-100">John Doe</div>
    <div class="job_name">Job Exemple</div>
    <div class="descriptio">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint
    </div>
  </div>
</div>
