
<div class="section_detail">
    <div class="image">
        <img src="assets/webportal/fonctionnality/detailOne.svg" alt="">
    </div>
    <div class="text mt-5">
        <h1>Calcul Automatique <br> des Totalisations</h1>
        <P>Le Calcul Automatique des Totalisations  dans une plateforme <br> de gestion  des notes de frais est une fonctionnalité essentielle <br> qui permet aux utilisateurs de soumettre  rapidement et avec précision <br> leurs dépenses en agrégeant automatiquement les montants des reçus et des factures.</P>
    </div>
    
 </div>
 