<section class="py-8 bloc-header">
  <div class="container mx-auto">
    <div class="links">
      <a class="help" href="#">Centre d'aide</a>
      <a class="lang" href="#">Français</a>
    </div>
    <div class="header">
      <div class="left">
        <img class="logo" src="assets/webportal/img/logo.png" alt="logo" />
        <ul class="menu">
          <li class="active" id="home"><a href="#">Accueil</a></li>
          <li id="features">
            <a routerLink="/portal/features">Fonctionnalités</a>
          </li>
          <li id="price"><a href="#">Nos prix</a></li>
          <li id="partner"><a href="#">Nos partenaires</a></li>
          <li id="about"><a href="#">A propos</a></li>
        </ul>
      </div>

      <div class="right">
        <a
          class="rounded-button bg-[#761941] text-white hover:border-2 hover:bg-white hover:border-[#761941] hover:text-[#761941]"
          href="#"
        >
          Nous rejoindre
        </a>
      </div>
    </div>
  </div>
</section>
