<nz-breadcrumb>
  <nz-breadcrumb-item>
    <a [routerLink]="['../../']">TRANSMISSION</a>
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>REMBOURSEMENT</nz-breadcrumb-item>
</nz-breadcrumb> <br>

<div class="app-container">
  <div class="table-header">
    <div class="search-bar-container">
      <input nz-input placeholder="Rechercher une opération" type="text"/>
    </div>

    <div class="button-container">
      <!--<button nz-button nzType="default" >
        <i nz-icon nzType="plus"></i>
      <span class="colors">Ajouter une catégorie</span>
      </button>-->
      <button nz-button nzType="primary">
        <span nz-icon nzTheme="outline" nzType="plus"></span>
        Nouvelle note de frais
      </button>
      <!-- <button
        nz-button
        nzType="primary"
        [disabled]="setOfCheckedId.size === 0"
        [nzLoading]="loading"
        (click)="sendRequest()"
        [ngClass]="setOfCheckedId.size === 0 ? 'hide_btn' : ''"
      >
        Action sur selection
      </button> -->
    </div>
  </div>
  <div class="table-content">
    <nz-table
      #rowSelectionTable
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
      [nzData]="noteFraisListing"
      nzShowPagination
      nzShowSizeChanger
    >
      <thead>
      <tr>
        <th


        >#
        </th>
        <th>Nom & Prénom(s)</th>
        <th>Note de frais</th>
        <th>Nombre de dépenses</th>
        <th>Dépenses</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of noteFraisListing">
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.noteFrais}}</td>
        <td>{{data.nbDepenses}}</td>
        <td>{{data.montant}}</td>

        <td class="boutons">


          <div class="export">
            <button nz-button nzType="primary">
              <span nz-icon nzTheme="outline" nzType="user-switch"></span>
              <span>Remboursemennt</span>
            </button>
          </div>

        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>

