<div class="hero relative">
  <div class="hero_content container mx-auto h-full py-4 md:py-0 px-4 flex flex-col sm:flex-row gap-3">
    <div class="hero_text_part justify-center sm:w-8/12 w-full px-4">
      <h1 class="text-4xl sm:text-5xl flex-wrap">La plateforme de gestion de notes de frais</h1>
      <p>
        Enregistrer votre entreprise et vos employés pour gerer éfficacement les
        notes de frais
      </p>

      <a class="border_btn " (click)="goToContact()" >
        <span class="mr-4" nz-icon nzTheme="outline" nzType="mail"></span>
        <span>Nous contacter</span>
      </a>
    </div>

    <div class="content hidden sm:visible sm:block w-6/12 absolute right-0 bottom-0">
      <img alt="" class="object-contain w-full h-full" src="assets/webportal/man_hero.png">
    </div>
  </div>
</div>
