<div class="bloc_inscription_maintenant">
  <div class="illustration illustration-top"></div>
  <h1 class="text-center">Inscrivez vous</h1>
  <p class="text-center my-4">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et fugit quaerat
    optio consequatur corporis, sequi iusto repudiandae inventore voluptatem
    deleniti tenetur voluptas alias nam minus blanditiis debitis nulla minima
    ratione.
  </p>

  <app-button-icon
    [bgColor]="'primary-acent'"
    [linkDestination]="'portal/home'"
    [title]="'S\'inscrire'"
  ></app-button-icon>
  <div class="illustration illustration-bottom"></div>

</div>
