<div class="shadow-md rounded-sm bg-white">

    <div class="form-header flex flex-col sm:flex-row  border-b items-center justify-between ">
        <span>Ajouter un administrateur</span>

        <button class="align-center-btn" nz-button nzGhost nzShape="round" nzType="primary">
            <i nz-icon nzType="plus"></i>
            Ajouter un nouveau profil
        </button>
    </div>

    <div class="form-content">
        <form (ngSubmit)="submitForm()" [formGroup]="form" nz-form nzLayout="vertical">
            <div [nzGutter]="22" nz-row>
                <div [nzSm]="12" [nzXs]="24" nz-col>
                    <nz-form-item>
                        <nz-form-label nzFor="user" nzRequired>Nom</nz-form-label>
                        <nz-form-control nzErrorTip="Le nom est requis !">
                            <nz-input-group nzPrefixIcon="user">
                                <input formControlName="name" id="user" nz-input placeholder="Konan"/>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div [nzSm]="12" [nzXs]="24" nz-col>
                    <nz-form-item>
                        <nz-form-label nzFor="lastname" nzRequired>Prénom</nz-form-label>
                        <nz-form-control nzErrorTip="Le prénom est requis !">
                            <nz-input-group nzPrefixIcon="user">
                                <input formControlName="name" id="lastname" nz-input placeholder="ange"/>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div [nzSm]="12" [nzXs]="24" nz-col>
                    <nz-form-item>
                        <nz-form-label nzFor="phone" nzRequired>Téléphone</nz-form-label>
                        <nz-form-control nzErrorTip="Le telephone est requis !">
                            <nz-input-group nzPrefixIcon="phone">
                                <input formControlName="phone" id="phone" nz-input placeholder="09 87 65 43 54"
                                       type="number"/>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                </div>
                <div [nzSm]="12" [nzXs]="24" nz-col>
                    <nz-form-item>
                        <nz-form-label nzFor="email" nzRequired>Email</nz-form-label>
                        <nz-form-control nzErrorTip="Le mail est requis !">
                            <nz-input-group nzPrefixIcon="mail">
                                <input formControlName="email" id="email" nz-input placeholder="konan@gmail.com"
                                       type="email"/>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>

                </div>
                <div [nzSm]="12" [nzXs]="24" nz-col>
                    <nz-form-item>
                        <nz-form-label nzFor="profile" nzRequired>Profil</nz-form-label>
                        <nz-form-control nzErrorTip="Please select your gender!">
                            <nz-select formControlName="profile" id="profile" nzPlaceHolder="Selectionner">
                                <nz-option nzLabel="Profil 1" nzValue="Profil 1"></nz-option>
                                <nz-option nzLabel="Profil 2" nzValue="Profil 2"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                </div>


            </div>
        </form>
    </div>

    <div class="p-4 border-t flex sm:flex-row flex-col sm:justify-between justify-center items-center">
        <button (click)="onCancel()" class="mb-4 sm:mb-0 align-center-btn" nz-button nzDanger nzGhost>
            <span nz-icon nzTheme="outline" nzType="arrow-left"></span>
            Annuler
        </button>
        <button class="align-center-btn" nz-button nzType="primary">
            <span nz-icon nzTheme="outline" nzType="save"></span>
            Enregistrer
        </button>
    </div>
</div>
